body {
    background: #f9f7fe;
    font-family: "Chakra Petch", sans-serif;
    border-radius: 10%;
  }
  
  a {
    color: #885df1;
  }
  
  .weather-app {
    background: hsl(200, 33%, 91%);
    max-width: 600px;
    max-height: 500px;
    margin: 60px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  }
  
  header {
    border-bottom: 1px solid #f9f7fe;
    padding-bottom: 10px;
  }
  
  .search-input {
    background-color: #f9f7fe;
    border: none;
    color: rgba(1, 1, 12, 0.178);
    font-size: 16px;
    padding: 20px;
    width: 80%;
    border-radius: 6px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  .search-button {
    margin-left: 5px;
    font-size: 16px;
    background-color: rgb(73, 12, 139);
    color: white;
    border: none;
    padding: 20px;
    line-height: 1;
    border-radius: 5px;
    font-family: "Chakra Petch", sans-serif;
  }
  
  main {
    padding: 30px 0;
  }
  
  .current-temperature {
    font-size: 48px;
  }
  
  .current-weather {
    display: flex;
    justify-content: space-between;
  }
  
  .current-city {
    font-size: 42px;
    font-weight: 900;
    margin: 0;
  }
  .current-details,
  .forecast-day {
    color: rgba(39, 33, 66, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
  
  .current-details strong,
  .forecast-temp {
    color: #f65282;
  }
  
  .current-temperature-icon {
    position: relative;
    top: 20px;
    margin-right: -5px;
  }
  
  .current-temperature-value {
    font-size: 80px;
    font-weight: bold;
  }
  
  .current-temperature-unit {
    font-size: 28px;
    position: relative;
    top: -38px;
  }
  
  .weather-forecast {
    display: flex;
    justify-content: space-between;
  }
  .day-container {
    text-align: center;
    margin-top: 40px;
  }
  .forecast-icon {
    max-width: 80%;
  }
  
  .max-temp strong {
    padding-right: 8px;
  }
  footer {
    border-top: 1px solid #f9f7fe;
    color: rgba(39, 33, 66, 0.4);
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
  }
  